{% extends "website/layout.html" %} 

{% block body %}

<div class="grid">
  <div>
    <article>
      <p>Covid 19 - Nuovi Casi</p>
      <a href="down_covid19/" role="button">Vai</a>
    </article>
  </div>

  <div>
    <article>
      <p>YTDown - YouTube Downloader</p>
      <a href="ytdown/" role="button">Vai</a>
    </article>
  </div>

  <div>
    <article>
      <p>Text to speech</p>
      <a href="text2speech/" role="button">Vai</a>
    </article>
  </div>
</div>

<p>Altri progetti:</p>
<ol>
  <li>
    <a href="#"
      >Libero</a
    >
  </li>
  <li>
    <a href="#"
      >Libero 2</a
    >
  </li>
  <li>
    <a href="#"
      >Libero 3</a
    >
  </li>
</ol>
{% endblock %}